<div class="div-login">
  <form #userForm="ngForm" (ngSubmit)="login(userForm.value)">
    <p-card styleClass="ui-card-shadow">
      <div class="center">
        <h2 class="nome-login">SempreUFG</h2>
      </div>
      <hr>
      <span class="ui-float-label">
        <input id="float-input-user" type="email" size="30" pInputText [(ngModel)]="user.email" required nome="email" #email>
        <label for="float-input-user">Usuário</label>
      </span>
      <span class="ui-float-label">
        <input id="float-input" type="password" size="30" pPassword pInputText [(ngModel)]="user.senha" required nome="senha" #senha>
        <label for="float-input">Senha</label>
      </span>
      <p-footer>
        <div class="center">
          <button pButton type="button" label="Entrar" type="submit"
          [disabled]="!userForm.form.valid"></button>
        </div>
      </p-footer>
    </p-card>
  </form>
</div>