<div class="div-login">
  <p-card styleClass="ui-card-shadow">
    <div class="center">
      <h2 class="nome-login">SempreUFG</h2>
    </div>
    <hr>
    <span class="ui-float-label">
      <input id="float-input-user" type="text" size="30" pInputText >
      <label for="float-input-user">Usuário</label>
    </span>
    <span class="ui-float-label">
      <input id="float-input" type="password" size="30" pPassword pInputText >
      <label for="float-input">Senha</label>
    </span>
    <p-footer>
      <div class="center">
        <button pButton type="button" label="Entrar"></button>
      </div>
    </p-footer>
  </p-card>
</div>