<p-toolbar>
  <div class="ui-toolbar-group-left">
    <h3>Sempre UFG</h3>
  </div>

  <div class="ui-toolbar-group-right" margin="10vh">
    <p-dialog header="Forma de Notificação" [(visible)]="display" [modal]="true">
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12">
          <p-radioButton name="group1" value="diaria" label="Diária" inputId="opt1"></p-radioButton>
        </div>
        <div class="ui-g-12">
          <p-radioButton name="group1" value="todevento" label="Todo Evento" inputId="opt2"></p-radioButton>
        </div>
        <div class="ui-g-12">
          <p-radioButton name="group1" value="desativada" label="Desativada" [(ngModel)]="val1" inputId="opt2"></p-radioButton>
        </div>
      </div>
    </p-dialog>
    <p-splitButton label={{nome}} icon="fa-user" [model]="items"></p-splitButton>
  </div>
</p-toolbar>

<div class="ui-g">
  <div class="ui-g-4">
    <p-panelMenu [model]="menItens" [style]="{'width':'300px'}"></p-panelMenu>
    <form #eventForm="ngForm" (ngSubmit)="evento(eventForm.value)">
      <p-dialog header="Divulgar Evento" [(visible)]="display2" [modal]="true" [responsive]="true" [width]="700" [minWidth]="200"
        [minY]="70">
        <div style="width:500px;margin-bottom:10px">
          <div class="row-1">
            <div class="col-1">
              <h3>Assunto</h3>
              <input type="text" pInputText placeholder="Assunto" [(ngModel)]="event.assunto" required name="assunto" #assunto>
            </div>
            <div class="col-2">
              <h3>Escopo da Divulgação</h3>
              <p-radioButton name="group2" value="APENAS_EGRESSOS" label="Apenas Egresso" inputId="opt1" [(ngModel)]="event.escopo" required
                name="escopo" #escopo></p-radioButton>
              <br>
              <p-radioButton name="group2" value="COMUNIDADE" label="Comunidade" inputId="opt1" [(ngModel)]="event.escopo" required name="escopo"
                #escopo></p-radioButton>
              <br>
              <p-radioButton name="group2" value="FORA_DO_ESCOPO" label="Fora de Escopo" inputId="opt1" [(ngModel)]="event.escopo" required
                name="escopo" #escopo></p-radioButton>
            </div>
          </div>
          <div class="row-1">
            <div class="col-1">
              <h3>Tipo Evento</h3>
              <p-radioButton name="group3" value="NOTICIA" label="Notícia" inputId="opt2" [(ngModel)]="event.tipo" required name="tipo"
                #tipo></p-radioButton>
              <br>
              <p-radioButton name="group3" value="PALESTRA" label="Palestra" inputId="opt2" [(ngModel)]="event.tipo" required name="tipo"
                #tipo></p-radioButton>
              <br>
              <p-radioButton name="group3" value="CURSO" label="Curso" inputId="opt2" [(ngModel)]="event.tipo" required name="tipo" #tipo></p-radioButton>
              <br>
              <p-radioButton name="group3" value="OPORTUNIDADE_EMPREGO" label="Orp. Emprego" inputId="opt2" [(ngModel)]="event.tipo" required
                name="tipo" #tipo></p-radioButton>
              <br>
              <p-radioButton name="group3" value="DIVERSOS" label="Diversos" inputId="opt2" [(ngModel)]="event.tipo" required name="tipo"
                #tipo></p-radioButton>
              <br>
            </div>
          </div>
          <div class="row-1">
            <div class="col-1">
              <h3>Forma de Divulgação</h3>
              <p-radioButton name="group4" value="mensagem" label="Mensagem" inputId="opt3" [(ngModel)]="event.forma" required name="forma"
                #forma></p-radioButton>
              <br>
              <p-radioButton name="group4" value="noticia" label="Noticia" inputId="opt3" [(ngModel)]="event.forma" required name="forma"
                #forma></p-radioButton>
              <br>
              <p-radioButton name="group4" value="ambos" label="Ambos" inputId="opt3" [(ngModel)]="event.forma" required name="forma" #forma></p-radioButton>
              <br>
              <p-radioButton name="group4" value="nenhuma" label="Nenhuma" inputId="opt3" [(ngModel)]="event.forma" required name="forma"
                #forma></p-radioButton>
              <br>
            </div>
            <div class="col-2">
              <h3>Enviar para</h3>
              <p-dropdown [style]="{'min-width':'230px'}" [options]="opInst" placeholder="Enviar  " optionLabel="label" [showClear]="true"
                [(ngModel)]="insta" name="insta" required (click)="filterByName(insta)"></p-dropdown>
              <p-dropdown [style]="{'min-width':'230px'}" [options]="opFilter" optionLabel="label" [(ngModel)]="insta2" name="insta2" required
                (click)="filterByName2(insta2)"></p-dropdown>
            </div>
          </div>
          <div class="row-2">
            <h3>Descrição</h3>
            <textarea rows="5" cols="80" pInputTextarea [(ngModel)]="event.descricao" required name="descricao" #descri></textarea>
          </div>
          <button pButton type="button" label="Cadastrar" type=submit [disabled]="!eventForm.form.valid"></button>
        </div>
      </p-dialog>
    </form>
  </div>
  <div class="ui-g-8" *ngIf="eventos">
    <app-eventos *ngIf="isAdm"></app-eventos>
    <p-accordion *ngIf="!isAdm">
      <div *ngFor="let item of itemsAprov">
        <p-accordionTab header={{item.assunto}}>
          <p>
            <b>Descrição</b>: {{item.descricao}}</p>
          <p>
            <b>Tipo do Evento:</b> {{item.tipo}}</p>
          <p>
            <b>Forma de Divulgação:</b> {{item.divulgacao}}</p>
          <p>
            <b>Escopo da Divulgação:</b> {{item.escopo}}</p>
          <p>
            <b>Data da Divulgação:</b> {{item.datetimeDivulgacao}}</p>
          <p>
            <b>Nome Solicitante:</b> {{item.solicitante}}</p>
          <p>
            <b>Email Solicitante:</b> {{item.emailSolicitante}}</p>
        </p-accordionTab>
      </div>
    </p-accordion>
    <p-growl [style]="{'margin-top':'10vh'}" [(value)]="msgs" sticky=true></p-growl>
  </div>
  <div class="ui-g-8" *ngIf="noticias">
    Noticias
  </div>
</div>