<p-accordion>
    <div *ngFor="let item of items">
        <p-accordionTab header={{item.assunto}}>
            <p>
                <b>Descrição</b>: {{item.descricao}}</p>
            <p>
                <b>Tipo do Evento:</b> {{item.tipo}}</p>
            <p>
                <b>Forma de Divulgação:</b> {{item.divulgacao}}</p>
            <p>
                <b>Escopo da Divulgação:</b> {{item.escopo}}</p>
            <p>
                <b>Data da Divulgação:</b> {{item.datetimeDivulgacao}}</p>
            <p>
                <b>Nome Solicitante:</b> {{item.solicitante}}</p>
            <p>
                <b>Email Solicitante:</b> {{item.emailSolicitante}}</p>
            <p-dialog header="Aprovar Evento" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
                <span>Tem certeza que deseja aprovar este evento? Deixe seu parecer.</span>
                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="property"></textarea>                
                <p-footer>
                    <button type="button" pButton icon="fa-check" (click)="confirm(item.id, property)" label="Sim"></button>
                    <button type="button" pButton icon="fa-close" (click)="decline(item.id, property)" label="Não"></button>
                </p-footer>
            </p-dialog>

            <button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="Aprovar"></button>
        </p-accordionTab>
    </div>

</p-accordion>